<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secrets</title>
</head>
<body>
<div>The secret is that you just gave me your email adress:</div>
    <h3>
        <b>{{email}}</b>
    </h3>
    <div>and name:</div>
    <h3>
        <b>{{name}}</b>
    </h3>
</body>
</html>